<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <div class="main-content">
    {{>header}}


    <form>
      <input placeholder="Location">
      <button>Search</button>
    </form>
    <br>
    <p id="location">Enter a location to get weather.</p>
    <div id="weather"></div>
  </div>

  {{>footer}}

  <script src="js/script.js"></script>
</body>

</html>